#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}/* Asegura que el body ocupe toda la pantalla */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  flex-grow: 1;
}
/* Logo INDITEX en la parte superior izquierda */
.logo {
  margin-right: 20px;
  width: auto; /* Ajusta el tamaño del logo */
  height: 4.5em;
  text-align: center;
} 
/* Estilo para la barra superior */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;  /* Color de fondo para la barra superior */
  border-bottom: 1px solid #ddd;  /* Línea inferior para separar */
}


.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.icon {
  font-size: 24px;
  margin-left: 15px;  /* Espacio entre los iconos */
  cursor: pointer;
}

.icon:hover {
  color: #007BFF;  /* Cambia el color del ícono al pasar el ratón por encima */
}

/* Estilo para el contenedor principal */
.container {
  margin-top: 100px; /* Deja espacio para la barra superior */
  text-align: center;
}

/* Estilos del botón y otros elementos */
.upload-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.option-btn {
  padding: 10px;
  cursor: pointer;
}

.option-btn:hover {
  background-color: #005f6b;
}

.close-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-preview {
  margin-top: 20px;
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

/* Cámara*/
.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.video-preview {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  background: black;
}

.capture-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-preview img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-top: 10px;
}
/* Estilos para el Drawer */
.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 20;
}

.drawer.open {
  transform: translateX(0);
}

.drawer-content {
  padding: 20px;
  overflow-y: auto;
}

.close-drawer-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.logout-btn {
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e64a19;
}
